.timer-text {
  font-size: 5rem;
}

.button {
  font-size: 1rem;
  font-family: "Londrina Solid", cursive;
  background-color: rgb(228, 226, 218);
  border: none;
  padding: 5px 10px;
  transition: 0.2s;
}

#button-one-sec {
  border-radius: 8px 0 0 8px;
}

#button-five-min {
  border-radius: 0 8px 8px 0;
}

.button:hover {
  background-color: rgb(214, 211, 199);
  cursor: pointer;
}

.button:active {
  background-color: rgb(219, 169, 94);
}

#timer-info {
  display: flex;
  flex-direction: column;
}
